raw_data/
fastqc_out/
trimmed_unpaired/
trim_data/
pandaseq.out/
uchime_commands.sh
chimeras.txt
uchime_commands_swab.sh
chimeras_swab.txt
uchime_commands_stool.sh
chimeras_stool.txt
combined_fasta*/
clustering_params.txt
clustering*/
core_diversity*/



# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
